%h2 Should this image be flagged?

%img{:src => post.image_url}

%input{:type => 'radio', :name => 'flagged', :value => 'yes', :class => 'required'} Yes
%input{:type => 'radio', :name => 'flagged', :value => 'no',  :class => 'required'} No