%h2 Should this image be flagged as not an appropriate meal?

%img{:src => image_url}

%input{:type => 'radio', :name => 'flagged', :value 'yes'} Yes
%input{:type => 'radio', :name => 'flagged', :value 'no'} No